/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
/* 
.teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
/* root */

:root {
  --color-primario: #f3f5fc;
  --color-secundario: #ffffff;
  --color-terciario: #f57738;
  --color-cuaternario: #010926;
  --color-quinto: #55679c;
  --color-sexto: #7c93c3;
  --color-septimo: #31363f;

  --fuente-teko: "Teko", sans-serif;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  color: var(--color-cuaternario);
  transition: color 1s ease;
  transition: background-color 0.2s linear;
}

body.off {
  background-color: #f3f5fc;
  box-sizing: border-box;
}
body.on {
  background-color: var(--color-cuaternario);
  box-sizing: border-box;
}

.cambio-color {
  display: inline-flex;
  background: none;
  border: none;
  font-size: 2.5em;
  position: fixed;
  right: 50px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.fa-toggle-large-off,
.fa-toggle-large-on {
  position: absolute;
}
.fa-toggle-large-on {
  opacity: 0;
}

.cambio-color.on .fa-toggle-large-on {
  opacity: 1;
  color: var(--color-terciario);
}

/* Head */

.header {
  display: flex;
  flex-direction: row;
  gap: 80px;
  position: absolute;
  width: 50%;
  padding: 3% 0 0 6%;
}

.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__icono {
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 3;
}

.logos {
  transform: rotateY(180deg);
  width: 6rem;
  height: 6rem;
}

.logos img {
  left: 0;
  width: 6rem;
  position: absolute;
  transition: all 0.5s ease;
}

.logos .logo-blanco {
  opacity: 0;
}
.logos.on .logo-blanco {
  opacity: 1;
  transform: rotateY(360deg);
}

.logos.off .logo-negro {
  transform: rotateY(180deg);
}
.texto-temporal {
  display: none;
  margin-top: 10px;
  font-family: var(--fuente-teko);
  font-size: 2rem;
  background-color: #f0f8ff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0;
  color: #000;
  animation: cambiarColorSwitch 1s infinite alternate;
}

/* contenedor */

.contenedor {
  display: flex;
  gap: 183px;
}

.contenedor__texto {
  padding: 10% 0 0 15%;
  width: 30%;
  height: 550px;

  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.contenedor__texto__input {
  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--color-cuaternario);
  border: none;
  background-color: transparent;
  width: 100%;
  height: 550px;
  outline: none;
  resize: none;
}
.contenedor__texto__input.on {
  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--color-secundario);
  border: none;
  background-color: transparent;
  width: 100%;
  height: 550px;
  outline: none;
  resize: none;
}

.contenedor__texto__input::placeholder {
  color: var(--color-terciario);
}
.contenedor__texto__input.on::placeholder {
  color: var(--color-sexto);
}

.contenedor__advertencia {
  padding: 1%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 1.25rem;
  color: var(--color-cuaternario);
  transition: color 0.5 linear;
}
.contenedor__advertencia.on {
  padding: 1%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 1.25rem;
  color: var(--color-secundario);
}
.contenedor__advertencia i {
  color: #f00;
  font-size: 1rem;
}

.contenedor__botones {
  display: flex;
  width: 100%;
  gap: 24px;
}

.boton_encriptar,
.boton_desencriptar {
  padding: 1.5% 0;
  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 1.5rem;
  width: 278px;
  border-radius: 24px;
}

.boton_encriptar {
  background-color: var(--color-terciario);
  color: var(--color-secundario);
  border: 1px solid var(--color-secundario);
  transition: all 0.2s ease;
}

.boton_encriptar.on {
  background-color: var(--color-quinto);
  color: var(--color-cuaternario);
  border: 1px solid var(--color-quinto);
  transition: all 0.2s ease;
}
.boton_desencriptar {
  background-color: transparent;
  color: var(--color-terciario);
  border: 1px solid var(--color-terciario);
  transition: all 0.2s ease;
}
.boton_desencriptar.on {
  background-color: transparent;
  color: var(--color-secundario);
  border: 1px solid var(--color-quinto);
  transition: all 0.2s ease;
}

.boton_encriptar:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: #000;
  border: 1px solid var(--color-terciario);
}

.boton_desencriptar:hover {
  transform: scale(1.1);
  background-color: var(--color-terciario);
  color: var(--color-secundario);
  border: 1px solid var(--color-secundario);
}
.boton_encriptar.on:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: var(--color-secundario);
  border: 1px solid var(--color-quinto);
}

.boton_desencriptar.on:hover {
  transform: scale(1.1);
  background-color: var(--color-quinto);
  color: var(--color-secundario);
  border: 1px solid var(--color-quinto);
}
.boton__pegar {
  padding: 1.5% 0;
  width: 50px;
  background-color: var(--color-terciario);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
}
.boton__pegar.on {
  background-color: var(--color-quinto);
  border: 1px solid var(--color-quinto);
}

.boton__pegar i {
  color: var(--color-secundario);
}

.boton__pegar:hover {
  transform: scale(1.1);
  background-color: transparent;
  border: 1px solid var(--color-quinto);
}

.boton__pegar:hover i {
  color: #010926;
}

.boton__pegar.on:hover i {
  color: var(--color-primario);
}

.boton_encriptar,
.boton_desencriptar,
.boton__pegar,
.boton_desencriptar.on,
.boton_encriptar.on,
.boton__pegar.on,
.boton__pegar i,
.boton__pegar.on i {
  transition: all 0.3s ease;
}

.contenedor__encriptado {
  display: flex;
  flex-direction: column;
  margin: 2% 0 0 0;
  background-color: var(--color-primario);
  min-width: 200px;
  width: 20%;
  height: 800px;
  border-radius: 32px;
  padding: 2%;
}
.contenedor__encriptado.on {
  color: var(--color-secundario);
  background-color: var(--color-septimo);
}
.contenedor__encriptado.on .contenedor__encriptado__label {
  color: var(--color-secundario);
}

.contenedor__encriptado__label {
  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 1.75rem;
  margin: 2%;
}

.contenedor__encriptado__span {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(230, 130, 59);
  background: linear-gradient(
    353deg,
    rgba(230, 130, 59, 1) 0%,
    rgba(230, 130, 59, 1) 20%,
    rgba(193, 85, 31, 1) 65%
  );
  border-radius: 22px;
  align-items: center;
  justify-content: center;
}
.contenedor__encriptado__span.on {
  background: rgb(124, 147, 195);
  background: linear-gradient(
    353deg,
    rgba(124, 147, 195, 1) 0%,
    rgba(124, 147, 195, 1) 20%,
    rgba(85, 103, 156, 1) 65%
  );
}
.contenedor__encriptado__mensajes {
  width: 90%;
  text-align: center;
}
.contenedor__encriptado__mensajes.on .mensaje__uno,
.contenedor__encriptado__mensajes.on .mensaje__dos {
  animation: cambiarColorSwitch 1s infinite alternate;
}

.mensaje__uno {
  font-family: var(--fuente-teko);
  font-weight: 700;
  font-size: 1.75rem;
  animation: cambiarColor 1s infinite alternate;
}

.mensaje__dos {
  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 1.25rem;
  animation: cambiarColor 1s infinite alternate;
}

.contenedor__encriptado__boton {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-family: var(--fuente-teko);
  font-weight: 300;
  font-size: 1.5rem;

  padding: 1% 0;
  margin: 1%;

  background-color: transparent;
  border-radius: 24px;
  border: 1px solid var(--color-terciario);
  color: var(--color-terciario);

  transition: all 0.3s ease;
  z-index: 1;
}

.contenedor__encriptado__boton.on {
  color: var(--color-sexto);
  border: 1px solid var(--color-sexto);
}
.contenedor__encriptado__boton.on i {
  color: var(--color-sexto);
}

.contenedor__encriptado__boton:hover {
  color: var(--color-secundario);
  background-color: var(--color-terciario);
  border: 1px solid var(--color-secundario);
}
.contenedor__encriptado__boton:hover i {
  color: var(--color-secundario);
}

.contenedor__encriptado__boton.on:hover {
  color: var(--color-secundario);
  background-color: var(--color-quinto);
  border: 1px solid var(--color-quinto);
}
.contenedor__encriptado__boton.on:hover i {
  color: var(--color-secundario);
}

.contenedor__encriptado__span img {
  width: 100%;
}
.contenedor__encriptado__boton i {
  color: var(--color-terciario);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.borrar {
  display: none;
}

.ajustar {
  position: relative;
  width: 100%;
}
/*tablet responsiva*/
@media screen and (max-width: 865px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    gap: 85px;
  }

  .contenedor__texto {
    margin: 15% 0 0 5%;
    padding: 0;
    width: 90%;
  }

  .contenedor__botones {
    width: 90%;
  }

  .contenedor__encriptado {
    width: 90%;
    height: 200px;
    padding: 0;
    margin: 5%;
  }

  .contenedor__encriptado__label {
    margin: 3%;
  }

  .contenedor__encriptado__label {
    margin: 3%;
  }

  .contenedor__encriptado__boton {
    width: 20%;
  }

  img {
    display: none;
  }
}
/*telefono responsivo */
@media screen and (max-width: 400px) {
  main {
    width: 100%;
    margin: 0;
    display: block;
    justify-content: center;
  }
  .contenedor {
    flex-direction: column;
    gap: 85px;
  }

  .contenedor__texto {
    margin: 20% 0 0 5%;
    padding: 0;
  }

  .contenedor__texto__input {
    height: 450px;
  }

  .contenedor__botones {
    flex-direction: column;
    width: 90%;
  }

  .contenedor__encriptado {
    width: 90%;
    height: 200px;
    padding: 0;
    margin: 5%;
  }

  .contenedor__encriptado__label {
    margin: 3%;
  }

  .contenedor__encriptado__boton {
    margin: 2%;
    width: 30%;
  }

  img {
    display: none;
  }
}

@keyframes cambiarColor {
  from {
    color: black;
  }
  to {
    color: var(--color-quinto);
  }
}
@keyframes cambiarColorSwitch {
  from {
    color: black;
  }
  to {
    color: var(--color-terciario);
  }
}
